<h1>Edit Info </h1>

<%= form_tag "/dogs/#{@dog.id}", method: :patch do %>
<div>Name: <input type= "text" value= "<%= @dog.name %>" name="name_param"></div>
<div>Breed: <input type="text" value="<%= @dog.breed %>" name="breed_param"></div>
<div>Age: <input type= "text" value= "<%=@dog.age %>" name="age_param"></div>
<div>Location: <input type= "text" value= "<%= @dog.location %>" name="location_param"></div>
<div>Vaccinated: <input type="text" value="<%= @dog.vaccinations %>" name="vaccinations_param"></div>
<div>Sex: <input type= "text" value= "<%=@dog.sex %>" name="sex_param"></div>
<div>Breeder: <input type="text" value="<%= @dog.breeder %>" name="breeder_param"></div>
<input type= "submit" value="Update">
<%end%>
<%= link_to "Back to Homepage", "/home", method: :get%> 


                 <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> --> 
                 <!-- <form>
                  <h4>say hello!</h4>
                    <h5>Name:</h5><input>
                    <h5>Email:</h5><input>
                    <h5>Phone:</h5><input>
                    <h5>Message:</h5><textarea></textarea>
                    <button class="btn">Submit</button>
                    </form>
                </div> -->