<h1>Enter New Dog Information</h1>
<%= form_tag "/dogs", method: :post do %>
<div>Name: <input type= "text" value= "<%= @dog.name %>" name="name"></div>
<div>Breed: <input type="text" value="<%= @dog.breed %>" name="breed"></div>
<div>Age: <input type= "text" value= "<%=@dog.age %>" name="age"></div>
<div>Location: <input type= "text" value= "<%= @dog.location %>" name="location"></div>
<div>Vaccinated: <input type="text" value="<%= @dog.vaccinations %>" name="vaccinations"></div>
<div>Sex: <input type= "text" value= "<%=@dog.sex %>" name="sex"></div>
<div>Breeder: <input type="text" value="<%= @dog.breeder %>" name="breeder"></div>
<input type= "submit" value="Add Dog">
<%end%>