<% if current_user %>
<h1><%= current_user.name%>:</h1>
<h3>Here is a list of all of our affiliated breeders:</h3>
<div class="container">
  <div class="article blog-masonry">
    <div class="row">
      <div class="masonry-container">
        <% @breeders.each do |breeder| %> 
        <div class="col-md-3 col-sm-4 col-xs-12 blog-unit animatedParent">
          <div class="article-post animated flipInY">
            <figure class="visual">
              <!-- <img src="./" alt="/"> -->
              <%= image_tag "bg.jpg" %>
            </figure>
            <h4><%= breeder.name %></h4>
            <div class="post-info">
              by <a href="#">Admin</a> in <a href="#">Portfolio</a>  |  <a href="#">5 Comments</a>
            </div>
            <p><%= breeder.delivery_type %></p>
            <p><%= breeder.location %></p>
            <a class="readmore" href="/breeders/<%=breeder[:id]%>">More info</a>
          </div><!--post-->
        </div><!--col--> 
        <% end %>
      </div><!--blog-->
    </div><!--container-->

         <!--  <a href="/breeders/<%#breeder[:id]%>"><%# breeder.name %></a>
          <p><%# breeder.location %></p>
          <p><%# breeder.price %></p>
          <p><%# breeder.delivery %></p>
          <p><%# breeder.delivery_type %></p>
          <%# button_to "Delete", "/breeders/#{breeder.id}", method: :delete %>
          <%# button_to "Edit", "/breeders/#{breeder.id}/edit", method: :get %>
          <%# link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
        </div>
      </div>
    </div> -->

    <% else %>
    <h2>Welcome!</h2>
    <% end %>
    </div>
