<% if current_user %>
  <h1>Welcome <%= current_user.name%>!</h1>
  <h3>Below is a list of all of your reviews:</h3>
  <% current_user.reviews.each_slice(3) do |review_slice| %> 
  <div class="row">
    <% review_slice.each do |review| %>
    <div class="col-md-4">
      <div class="well">
        <a href="/reviews/<%=review.id %>"><%= review.subject %></a>
        <p><%= review.body %></p>
        <p><%= review.vote %></p>
        <%= button_to "Delete", "/reviews/#{review.id}", method: :delete %>
        <%= button_to "Edit", "/reviews/#{review.id}/edit", method: :get %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
<% end %>

<h1>All Reviews:</h1>          
<% @reviews.each_slice(3) do |review_slice| %> 
  <div class="row">
    <% review_slice.each do |review| %>
      <div class="col-md-4">
        <div class="well">
          <a href="/reviews/<%= review.id %>"><%= review.subject %></a>
          <p><%= review.body %></p>
          <p><%= review.vote %></p>
            <% if current_user.admin || review.user == current_user %>
          <%= button_to "Delete", "/reviews/#{review.id}", method: :delete %>
          <%= button_to "Edit", "/reviews/#{review.id}/edit", method: :get %>
          <% else %>
          <% if current_user != review.user %>
            <%= button_to "Upvote", "/reviews/#{review.id}/upvote" %>
            <%= button_to "Downvote", "/reviews/#{review.id}/downvote" %>
          <% end %>
         <% end %> 
        </div>
      </div>
    <% end %>
  </div>
<% end %>
  